<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="basic-data">
        <div class="basic-text-fields flexcol">
            <div class="flexrow">
                <label class="resource-label">Nombre: </label>{{ log this }}
                <input name="name" type="text" value="{{name}}" placeholder="{{localize 'RATASENLASPAREDES.Nombre'}}"/>
            </div>
            <div class="flexrow">
                <label class="resource-label reputation">Reputación: </label>
                <input name="data.reputation" type="text" value="{{data.reputation}}" placeholder="Reputación"/>
            </div>
            <div class="flexrow">
                <label class="resource-label profesion">Profesión: </label>
                <input name="data.profesion" type="text" value="{{data.profesion}}" placeholder="Profesión"/>
            </div>
        </div>
        <img class="logo-img" src="/systems/ratasenlasparedes/img/logo.png" title="Ratas en lass paredes" height="120"/>
    </div>


    <div class="attribute-section flexrow">
        <div class="attributes">
            <div class="attribute flexrow">
                <label for="data.abilities.des.value" class="resource-label ability-mod rollable" data-roll="2d6+@abilities.des.value" data-label="destreza" data-roll-type="ability">Destreza</label>
                <input type="text" name="data.abilities.des.value" value="{{data.abilities.des.value}}" data-dtype="Number"/>
            </div>
            <div class="attribute flexrow">
                <label for="data.abilities.ing.value" class="resource-label ability-mod rollable" data-roll="2d6+@abilities.ing.value" data-label="ingenio" data-roll-type="ability">Ingenio</label>
                <input type="text" name="data.abilities.ing.value" value="{{data.abilities.ing.value}}" data-dtype="Number"/>
            </div>
            <div class="attribute flexrow">
                <label for="data.abilities.mus.value" class="resource-label ability-mod rollable" data-roll="2d6+@abilities.mus.value" data-label="musculos" data-roll-type="ability">Músculo</label>
                <input type="text" name="data.abilities.mus.value" value="{{data.abilities.mus.value}}" data-dtype="Number"/>
            </div>
            <div class="attribute flexrow">
                <label for="data.abilities.vio.value" class="resource-label ability-mod rollable" data-roll="2d6+@abilities.vio.value" data-label="violencia" data-roll-type="ability">Violencia</label>
                <input type="text" name="data.abilities.vio.value" value="{{data.abilities.vio.value}}" data-dtype="Number"/>
            </div>
            <div class="attribute flexrow">
                <label for="data.abilities.vol.value" class="resource-label ability-mod rollable" data-roll="2d6+@abilities.vol.value" data-label="voluntad" data-roll-type="ability">Voluntad</label>
                <input type="text" name="data.abilities.vol.value" value="{{data.abilities.vol.value}}" data-dtype="Number"/>
            </div>
        </div>

        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" height="150" width="150"/>

        <div class="derivates">
            <div class="resource flex-group-center">
                <label for="data.power.value" class="resource-label">PE</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="data.pe.value" value="{{data.pe.value}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="resource flex-group-center">
                <label for="data.pv.value" class="resource-label">PV</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="data.pv.value" value="{{data.pv.value}}" data-dtype="Number"/>
                  <span> / </span>
                  <input type="text" name="data.pv.max" value="{{data.pv.max}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="resource flex-group-center">
                <label for="data.power.value" class="resource-label rollable" data-roll="custom" data-label="Cordura" data-roll-type="sanity">PC</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="data.pc.value" value="{{data.pc.value}}" data-dtype="Number"/>
                  <span> / </span>
                  <input type="text" name="data.pc.max" value="{{data.pc.max}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </div>



    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Bio</a>
        
        {{#if flags.ratasenlasparedes.hasMeans}}
            <a class="item" data-tab="means">Recursos</a>
        {{/if}}

        <a class="item" data-tab="items">Equipo</a>
        {{#if flags.ratasenlasparedes.hasSpells}}
            <a class="item" data-tab="spells">Hechizos</a>
        {{/if}}
        <!--<a class="item" data-tab="scares">Cicatrices</a>-->
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">{{log 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'}}{{log editable}}{{log owner}}{{log this}}{{log options}}
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=true}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Nombre</div>
                  <div class="item-name">Daño</div>
                  <div class="item-controls">
                    <a class="item-control item-create create-entity" title="Create item" data-type="item"><i class="fas fa-plus"></i> Añadir</a>
                  </div>
                </li>
            {{#each gear as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    {{#if item.data.damage}}
                                        <h4 class="item-name rollable" data-roll="2d6+@abilities.vio.value" data-label="{{item.name}}" data-roll-type="weapon" data-damage="{{item.data.damage}}" >{{item.name}}</h4>
                    {{else}}
                                        <h4 class="item-name">{{item.name}}</h4>
                    {{/if}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            {{#each weapon as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    {{#if item.data.damage}}
                                        <h4 class="flexrow">
                                            <div class="item-name rollable" data-roll="2d6+@abilities.vio.value" data-label="{{item.name}}" data-roll-type="weapon" data-damage="{{item.data.damage}}" >{{item.name}}</div>
                                            <div class="item-damage rollable" data-roll="{{item.data.damage}}" data-label="{{item.name}}" data-roll-type="damage" style="justify-self:start">({{item.data.damage}})</div>
                                        </h4>
                                        
                    {{else}}
                                        <h4 class="item-name">{{item.name}}</h4>
                    {{/if}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
        
        
        {{!-- Owned Spells Tab --}}
        <div class="tab items" data-group="primary" data-tab="spells">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Nombre</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="spell"><i class="fas fa-plus"></i> Añadir</a>
                  </div>
                </li>
            {{#each spell as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    
                                        <h4 class="item-name">{{item.name}}</h4>
                    
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
        
        {{!-- Owned Means Tab --}}
        <div class="tab items" data-group="primary" data-tab="means">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Nombre</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="mean"><i class="fas fa-plus"></i> Añadir</a>
                  </div>
                </li>
            {{#each mean as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    
                                        <h4 class="item-name">{{item.name}}</h4>
                    
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
        

    </section>
</form>

