<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="basic-data">
        <div class="basic-text-fields flexcol">
            <div class="flexrow">
                <label class="resource-label">Nombre: </label>
                <input name="name" type="text" value="{{name}}" placeholder="{{localize 'RATASENLASPAREDES.Nombre'}}"/>
            </div>
            <div class="flexrow">
                <label class="resource-label reputation">Reputación: </label>
                <input name="data.reputation" type="text" value="{{data.reputation}}" placeholder="Reputación"/>
            </div>
            <div class="flexrow">
                <label class="resource-label profesion">Profesión: </label>
                <input name="data.profesion" type="text" value="{{data.profesion}}" placeholder="Profesión"/>
            </div>
        </div>
        <img class="logo-img" src="/systems/ratasenlasparedes/img/logo.png" title="Ratas en lass paredes" height="120"/>
    </div>


    <div class="attribute-section flexrow">
    

        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" height="150" width="150"/>

        <div class="derivates">
            <div class="resource flex-group-center">
                <label for="data.pv.value" class="resource-label">PV</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="data.pv.value" value="{{data.pv.value}}" data-dtype="Number"/>
                  <span> / </span>
                  <input type="text" name="data.pv.max" value="{{data.pv.max}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="resource flex-group-center">
                <label for="data.power.value" class="resource-label">PC</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="data.pc.value" value="{{data.pc.value}}" data-dtype="Number"/>
                  <span> / </span>
                  <input type="text" name="data.pc.max" value="{{data.pc.max}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </div>



    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Bio</a>
        <!-- <a class="item" data-tab="means">Recursos</a>-->
        
        <a class="item" data-tab="items">Equipo</a>
        {{#if actor.flags.ratasenlasparedes.hasSpells}}
            <a class="item" data-tab="spells">Hechizos</a>
        {{/if}}
        <!--<a class="item" data-tab="scares">Cicatrices</a>-->
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=true}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Nombre</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Añadir</a>
                  </div>
                </li>
            {{#each actor.gear as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    {{#if item.data.damage}}
                                        <h4 class="item-name rollable" data-roll="2d6+@abilities.vio.value" data-label="{{item.name}}" data-roll-type="weapon" data-damage="{{item.data.damage}}" >{{item.name}}</h4>
                    {{else}}
                                        <h4 class="item-name">{{item.name}}</h4>
                    {{/if}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            {{#each actor.weapon as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    {{#if item.data.damage}}
                                        <h4 class="item-name rollable" data-roll="2d6+@abilities.vio.value" data-label="{{item.name}}" data-roll-type="weapon" data-damage="{{item.data.damage}}" >{{item.name}}</h4>
                    {{else}}
                                        <h4 class="item-name">{{item.name}}</h4>
                    {{/if}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
        
        
        {{!-- Owned Spells Tab --}}
        <div class="tab items" data-group="primary" data-tab="spells">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Nombre</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Añadir</a>
                  </div>
                </li>
            {{#each actor.spell as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    
                                        <h4 class="item-name">{{item.name}}</h4>
                    
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
        

    </section>
</form>

